# .github/workflows/build.yml
name: Build and Test

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build-and-test:
    name: Build and Test Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and Verify with Maven
        run: mvn -B clean verify

      - name: Upload Build Artifacts
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            ControlBans/target/*.jar
            ControlBans-Bungee/target/*.jar
            ControlBans-Velocity/target/*.jar
            !**/original-*.jar
